{% extends 'base.html' %}


{% block extraheaders %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>


{% for chart in charts %}
{% include "chart.html" with chart=chart%}
{% endfor %}

{% endblock%}


{% block content %}

<h3> Analysis </h3>

<div class="well">	
	Number of Events: 
	<br />
	Average Duraction of Events:
</div>

<style>
.chartBox {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 3em;
}
</style>


{% for chart in charts %}
<div id="{{chart.id}}" class="chartBox"></div>
{% endfor %}



<br>
{% endblock %}

