{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>LifeTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <script src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true" type="text/javascript"></script>
    <style type="text/css">
      body {
          padding-top: 20px;
          padding-bottom: 40px;
      }
      
      /* Custom container */
      .container-narrow {
          margin: 0 auto;
          max-width: 1000px;
      }
      .container-narrow > hr {
          margin: 30px 0;
      }
      
      /* Main marketing message and sign up button */
      .jumbotron {
          margin: 60px 0;
          text-align: center;
      }
      .jumbotron h1 {
          font-size: 72px;
          line-height: 1;
      }
      .jumbotron .btn {
          font-size: 21px;
          padding: 14px 24px;
      }
      
      /* Supporting marketing content */
      .marketing {
          margin: 60px 0;
      }
      .marketing p + h4 {
          margin-top: 28px;
      }
    </style>

    <script type="text/javascript">
        var timeline;
        var data;

        // Called when the Visualization API is loaded.
        function drawVisualization() {
            // Create a JSON data table
            data = [
                {
                    'start': new Date(2010,7,23),
                    'content': 'Conversation<br><img src="img/comments-icon.png" style="width:32px; height:32px;">'
                },
                {
                    'start': new Date(2010,7,23,23,0,0),
                    'content': 'Mail from boss<br><img src="img/mail-icon.png" style="width:32px; height:32px;">'
                },
                {
                    'start': new Date(2010,7,24,16,0,0),
                    'content': 'Report'
                },
                {
                    'start': new Date(2010,7,26),
                    'end': new Date(2010,8,2),
                    'content': 'Traject A'
                },
                {
                    'start': new Date(2010,7,28),
                    'content': 'Memo<br><img src="img/notes-edit-icon.png" style="width:48px; height:48px;">'
                },
                {
                    'start': new Date(2010,7,29),
                    'content': 'Phone call<br><img src="img/Hardware-Mobile-Phone-icon.png" style="width:32px; height:32px;">'
                },
                {
                    'start': new Date(2010,7,31),
                    'end': new Date(2010,8,3),
                    'content': 'Traject B'
                },
                {
                    'start': new Date(2010,8,4,12,0,0),
                    'content': 'Report<br><img src="img/attachment-icon.png" style="width:32px; height:32px;">'
                }
            ];

            // specify options
            var options = {
                'width':  '100%',
                'height': '300px',
                'editable': true,   // enable dragging and editing events
                'style': 'box'
            };

            // Instantiate our timeline object.
            timeline = new links.Timeline(document.getElementById('mytimeline'));

            function onRangeChanged(properties) {
                document.getElementById('info').innerHTML += 'rangechanged ' +
                        properties.start + ' - ' + properties.end + '<br>';
            }

            // attach an event listener using the links events handler
            links.events.addListener(timeline, 'rangechanged', onRangeChanged);

            // Draw our timeline with the created data and options
            timeline.draw(data, options);
        }
</script>
    
    {% block extraheaders %}
    {% endblock %}
  </head>
  <body onload="drawVisualization();" onresize="onResize();">>
    
    <div class="container-narrow">
      <div class="masthead">
        
        {% if user.is_authenticated %}
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li> <div class="btn-group">
              <button class="btn"> {{user.username}}</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="addEvent.html"> Add Event </a> </li>
                <li><a href="settings.html"> Settings </a></li>
                <li><a href="analysis.html"> Analysis </a> </li>
                <li><a href="logout.html"> Logout </a> </li>
                <!-- dropdown menu links -->
              </ul>
            </div>
          </li>
          
        </ul>
        {% else %}
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a class="btn" href="login.html"> Login </a> </li>
        </ul>
        {% endif %}
        
        <h3 class="muted"><a href="/" style="text-decoration: none;">LifeTracker</a></h3>
      </div>
      
      <hr>
      
      

        <div id="mytimeline" style="height: 150px; border: 1px solid #aaa"></div>
        <noscript>
          This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
        </noscript>
        
        
        <div class="footer">
          <p>&copy; Larsen & Vitullo 2013</p>
        </div>
        
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js"%}" ></script>
  </body>
</html>

